<?xml version="1.0" encoding="utf-8"?>
<Include xmlns:xi="http://www.w3.org/2001/XInclude">
  <Style name="Label" opacity="1.0">

{%- set zoom = {} -%}
{%- for i in range(20) -%}
  {%- do zoom.update({i: (559082264/2**i)|int }) -%}
{%- endfor -%}

{% for i in range(14) %}
  {%- if i <= 6 -%}
      {%- set rule = "{}/[density_1]".format(2.0**(2*i)) %}
  {%- else -%}
      {%- set density = i-6 -%}
      {%- set rule = "{}/({}*[density_{}])".format(1.6**(2*i), 2.0**(density-1), 2**(density)) %}
  {%- endif -%}

    <Rule name="Labels ({{i}})">
      <MaxScaleDenominator>{{zoom[i]}}</MaxScaleDenominator>
      <MinScaleDenominator>{{zoom[i+1]}}</MinScaleDenominator>
      <Filter>{{rule}} &gt; 20</Filter>
      <TextSymbolizer fontset-name="fontset"
                      size="12"
                      dx="10"
                      fill="black"
                      halo-fill="white"
                      halo-radius="2.5"
                      placement="point"
                      horizontal-alignment="right"
                      margin="5"
                      clip="false"
                      avoid-edges="true"
                      allow-overlap="false">[title]</TextSymbolizer>
    </Rule>
{% endfor %}

{% for i in range(14, 19) %}
  {%- set coeff = 1.5**(i-14) %}
    <Rule name="Labels ({{i}})">
      <MaxScaleDenominator>{{zoom[i]}}</MaxScaleDenominator>
      <MinScaleDenominator>{{zoom[i+1]}}</MinScaleDenominator>
      <TextSymbolizer fontset-name="fontset"
                      size="{{12.0 * coeff}}"
                      dx="{{10.0 * coeff}}"
                      fill="black"
                      halo-fill="white"
                      halo-radius="2.5"
                      placement="point"
                      horizontal-alignment="right"
                      margin="5"
                      clip="false"
                      avoid-edges="true"
                      allow-overlap="false">[title]</TextSymbolizer>
    </Rule>
{% endfor %}
  </Style>

  <Style name="Point">
{% for i in range(14) %}
  {%- set max_size = 16 -%}
  {%- set min_size = 2 -%}
  {%- set opacity = [0.25, 0.5, 0.75] -%}
  {%- set rule = "{}/[density_1]".format(2.0**(2*i)) %}

  {%- if i >= 5 -%}
      {%- set opacity = [0.35, 0.5, 0.75] -%}
  {%- endif -%}

  {%- if i > 6 -%}
      {%- set density = i-6 -%}
      {%- set rule = "{}/({}*[density_{}])".format(1.6**(2*i), 2.0**(density-1), 2**(density)) %}
      {%- set min_size = 4 -%}
  {%- endif -%}

  {%- if i >= 10 -%}
      {%- set min_size = 6 -%}
      {%- set opacity = [0.5, 0.5, 0.75] -%}
  {%- endif -%}

    <Rule name="Points Min ({{i}})">
      <Filter>{{rule}} &lt; {{min_size}}</Filter>
      <MaxScaleDenominator>{{zoom[i]}}</MaxScaleDenominator>
      <MinScaleDenominator>{{zoom[i+1]}}</MinScaleDenominator>
      <PointSymbolizer file="tri_b0.svg"
                       allow-overlap="true"
                       transform="scale({{min_size}})"
                       opacity="{{opacity[0]}}" />
    </Rule>
    <Rule name="Points Max ({{i}})">
      <Filter>{{rule}} &gt;= {{max_size}}</Filter>
      <MaxScaleDenominator>{{zoom[i]}}</MaxScaleDenominator>
      <MinScaleDenominator>{{zoom[i+1]}}</MinScaleDenominator>
      <PointSymbolizer file="tri_b2.svg"
                       allow-overlap="true"
                       transform="scale({{max_size}})"
                       opacity="{{opacity[2]}}" />
    </Rule>
    <Rule name="Points Dyn ({{i}})">
      <Filter>{{rule}} &gt;= {{min_size}} and {{rule}} &lt;= {{max_size}}</Filter>
      <MaxScaleDenominator>{{zoom[i]}}</MaxScaleDenominator>
      <MinScaleDenominator>{{zoom[i+1]}}</MinScaleDenominator>
      <PointSymbolizer file="tri_b1.svg"
                       allow-overlap="true"
                       transform="scale({{rule}})"
                       opacity="{{opacity[1]}}" />
    </Rule>
{% endfor %}
{% for i in range(14, 19) %}
  {%- set rule = 10 * 1.5**(i-14) %}
    <Rule>
      <MaxScaleDenominator>{{zoom[i]}}</MaxScaleDenominator>
      <MinScaleDenominator>{{zoom[i+1]}}</MinScaleDenominator>
      <PointSymbolizer file="tri_b2.svg"
                       allow-overlap="true"
                       transform="scale({{rule}})"
                       opacity="0.75" />
    </Rule>
{% endfor %}
  </Style>
</Include>
